.score-container {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.score-container .circle {
  background-color: #000;
  color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: relative
}

.score-container .circle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}